    // font style
    $font: 'Kumbh Sans', sans-serif;

    // font normal size
    $fontSize: 16px;

    // Color style
    $orange: hsl(26, 100%, 55%);
    $lightOrange: hsl(26, 100%, 60%);
    $lgOrange: hsl(25, 100%, 94%);
    $darkBlue: hsl(218, 12%, 13%);
    $darkGray: hsl(219, 9%, 45%);
    $lightGray: hsl(220, 14%, 75%);
    $veryLightGray: hsl(223, 64%, 98%);
    $white: hsl(0, 0%, 100%);
    $overlayBlack: hsl(0, 0%, 0%);

    html, body {
        margin: 0;
        padding: 0;

        // Navigation Style
        .container {
            margin: auto;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid $veryLightGray;
            
            .nav-left {
                display: flex;
                font-family: $font;
                font-size: 14px;
                list-style: none;
                padding: 0;
                margin: 0;
                margin-right: auto;
                margin-left: 30px;
                align-self: stretch;
                align-items: center;

                li {
                    display: flex;
                    height: 100%;
                    align-items: center;

                    a {
                        text-decoration: none;
                        color: $darkGray;
                        font-weight: 400;
                        margin: 0 15px;

                        &:hover {
                            color: $darkBlue;
                            font-weight: 500;
                        }
                    }

                    &:has(a:hover) {
                        box-shadow: 0 -3px 0 $orange inset;
                        transition: all 0.3s;
                    }
                }

                
            }

            .nav-right {
                display: flex;
                align-items: center;
                list-style: none;

                .nav-cart {
                    display: flex;
                    margin: 0 20px;
                    justify-content: end;
                    text-align: center;
                    text-decoration: none;

                    img {
                        width: 20px;

                        &:hover {
                            filter: brightness(0%);
                            transition: all 0.8s;
                        }
                    }

                    span {
                        opacity: 0;
                        position: relative;
                        background-color: $orange;
                        font-size: 8px;
                        font-family: $font;
                        font-weight: 700;
                        color: $white;
                        top: -4px;
                        right: 12px;
                        width: 16px;
                        height: 10px;
                        border-radius: 6px;
                        transition: all 0.8s;
                    }

                    .active {
                        opacity: 1;
                    }
                }

                .nav-avatar {
                    display: flex;

                    img {
                        width: 40px;
                        border-radius: 50%;

                        &:hover {
                            box-shadow: 0 0 0 2px $orange;
                            transition: all 0.3s;
                        }
                    }
                }
            }

            .nav-cart-menu {
                opacity: 0;
                font-family: $font;
                box-shadow: 5px 12px 30px rgb(104, 112, 125, 0.2);
                top: 70px;
                right: 70px;
                display: flex;
                flex-direction: column;
                position: fixed;
                background-color: hsl(0, 0%, 100%);
                padding: 0;
                z-index: 2;
                border-radius: 10px;
                transition: all 0.5s;

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    padding-left: 20px;
                }

                .divider {
                    border-bottom: 1px solid $veryLightGray;
                }

                .cart-empty {
                    // display: none;
                    height: 100%;
                    display: flex;
                    width: 280px;
                    height: 150px;
                    align-items: center;
                    justify-content: center;

                    p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $lightGray;
                        margin-bottom: 10px;
                        margin-top: 0;
                    }
                }

                .cart-fill {
                    display: none;
                    // display: flex;
                    flex-direction: column;
                    height: 100%;
                    margin: 15px 20px;

                    .cart-item-list {
                        margin-bottom: 15px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            margin-right: 10px;
                        }

                        .cart-content {
                            margin: 0;
                            margin-right: 15px;
                            display: flex;
                            flex-direction: column;
                            align-self: stretch;
                            justify-content: space-between;

                            h5 {
                                margin: 0;
                                font-size: 14px;
                                color: $darkGray;
                                font-weight: 400;
                            }

                            .cart-price {
                                display: flex;
                                align-items: center;
                                
                                p {
                                    margin: 0;
                                    font-size: 14px;
                                    color: $darkGray;
                                    margin-right: 5px;
                                }

                                .cart-total-price {
                                    color: $darkBlue;
                                    font-weight: 600;
                                }

                            }
                        }

                        button#btn-delete {
                            background: none;
                            cursor: pointer;
                            border: none;
                            padding: 0;
                            width: 13px;
                            height: 15px;

                            img {
                                width: 13px;
                                height: 15px;
                                margin: 0 auto;
                                border-radius: 0;
                            }

                            &:hover {
                                filter: brightness(0%);
                                transition: all 0.6s;
                            }
                        }
                    }

                    button {
                        background-color: $orange;
                        border: none;
                        border-radius: 5px;
                        height: 40px;
                        margin: 10px 0;
                        color: $white;
                        font-size: 12px;
                        font-family: $font;
                        font-weight: 600;
                        cursor: pointer;
                        transition: all 0.5s;

                        &:hover {
                            background-color: $lightOrange;
                            box-shadow: 3px 10px 20px rgb(255, 125, 26, 0.3);
                        }
                    }
                }
            }

            .active {
                opacity: 1;
            }
        }

        // Body Style
        .body-container {
            margin: auto;
            margin-bottom: 100px;
            width: 70%;
            display: flex;
            align-items: center;

            // Image gallery style
            .img-container {
                margin: 50px 0;
                margin-right: 110px;

                .product-image {
                    border-radius: 10px;
                    margin-bottom: 20px;
                }

                .thumbnails {
                    display: flex;
                    justify-content: space-between;

                    .thumbnails-box {
                        height: 80px;
                        border-radius: 10px;

                        img {
                            border-radius: 10px;
                            cursor: pointer;
    
                            &:hover {
                                opacity: 0.5;
                                transition: all 0.3s;
                            }
                        }
                    }

                    .active {
                        outline: 2px solid $orange;

                        img {
                            opacity: 0.5;
                        }
                    }                    
                }
            }

            // Content style
            .content-container {
                display: flex;
                flex-direction: column;
                font-family: $font;

                .content-tag {
                    color: $orange;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin: 10px 0;
                }

                .content-title {
                    margin: 10px 0;
                    font-size: 38px;
                }

                .content-description {
                    color: $darkGray;
                    font-size: 14px;
                    line-height: 1.8;
                }

                .content-price {
                    display: flex;
                    align-items: center;
                    
                    .discount-price {
                        font-size: 24px;
                        margin: 5px 0;
                        font-weight: 700;
                        margin-right: 10px;
                    }

                    .discount-amount {
                        height: 20px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 700;
                        font-size: 13px;
                        color: $orange;
                        background-color: $lgOrange;
                        border-radius: 3px;

                    }
                }

                .normal-price {
                    color: $lightGray;
                    font-weight: 600;
                    font-size: 16px;
                    text-decoration: line-through;
                    margin: 0;
                    margin-bottom: 30px;
                }

                .quantity-selection {
                    display: flex;
                    
                    .qty-minus {
                        display: flex;
                        align-items: baseline;
                        justify-content: center;
                        border: none;
                        background-color: $veryLightGray;
                        color: $orange;
                        font-size: 30px;
                        font-weight: 600;
                        height: 50px;
                        width: 70px;
                        cursor: pointer;
                        border-radius: 10px 0 0 10px;
                        line-height: 42px;

                        &:hover {
                            opacity: 0.5;
                            transition: all 0.3s;
                        }
                    }

                    .qty {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 80px;
                        height: 50px;
                        font-weight: 600;
                        background-color: $veryLightGray;
                    }

                    .qty-plus {
                        display: flex;
                        align-items: baseline;
                        justify-content: center;
                        border: none;
                        background-color: $veryLightGray;
                        color: $orange;
                        font-size: 30px;
                        font-weight: 600;
                        height: 50px;
                        width: 70px;
                        cursor: pointer;
                        border-radius: 0 10px 10px 0;
                        line-height: 42px;

                        &:hover {
                            opacity: 0.5;
                            transition: all 0.3s;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-left: 15px;
                        width: 100%;
                        background-color: $orange;
                        color: $white;
                        border: none;
                        border-radius: 10px;
                        font-size: 14px;
                        font-weight: 600;
                        cursor: pointer;
                        box-shadow: 3px 10px 20px rgb(255, 125, 26, 0.3);

                        img {
                            filter: brightness(100);
                            margin-right: 10px;
                        }

                        &:hover {
                            opacity: 0.5;
                            transition: all 0.3s;
                        }
                    }
                }
            }

            // Modal Background
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 30px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.5);
                transition: all 0.5s;

                .modal-content {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    padding: 0;
                    width: 30%;

                    .close {
                        color: white;
                        position: relative;
                        font-size: 35px;
                        font-weight: bold;
                        text-align: right;
                        cursor: pointer;
                        margin-bottom: 10px;

                        &:hover {
                            color: $orange;
                            text-decoration: none;
                            transition: all 0.3s;
                        }
                    }

                    .mySlides, img {
                        border-radius: 10px;                        
                    }

                    .arrow-control {
                        display: flex;
                        justify-content: space-between;
                        position: absolute;
                        width: 110%;
                        left: -20px;
                        top: 230px;

                        .prev,.next {
                            cursor: pointer;
                            // position: absolute;
                            display: flex;
                            background: $white;
                            text-align: center;
                            border-radius: 50%;
                            width: 20px;
                            padding: 10px;
                            color: $darkBlue;
                            font-weight: bold;
                            font-size: 18px;
                            align-items: baseline;
                            justify-content: center;
                            transition: 0.6s ease;
        
                                &:hover {
                                    color: $orange;
                                }
                            }
                    }

                    .column-thumbnails {
                        display: flex;
                        justify-content: space-evenly;

                        .column {
                            display: flex;
                            margin: 20px 0;
                            width: 65px;
                            background-color: $white;
                            border-radius: 10px;

                            img {
                                width: 100%;
                                cursor: pointer;
                                
                                &:hover {
                                    opacity: 0.5;
                                    transition: all 0.3s;
                                }

                                    
                            }

                            .active {
                                outline: 2px solid $orange;
                                opacity: 0.5;
                            } 
                        }
                    }
                }
            }
        }
    }