html, body {
  margin: 0;
  padding: 0;
}
html .container, body .container {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(223deg, 64%, 98%);
}
html .container .nav-left, body .container .nav-left {
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: 30px;
  align-self: stretch;
  align-items: center;
}
html .container .nav-left li, body .container .nav-left li {
  display: flex;
  height: 100%;
  align-items: center;
}
html .container .nav-left li a, body .container .nav-left li a {
  text-decoration: none;
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
  margin: 0 15px;
}
html .container .nav-left li a:hover, body .container .nav-left li a:hover {
  color: hsl(218deg, 12%, 13%);
  font-weight: 500;
}
html .container .nav-left li:has(a:hover), body .container .nav-left li:has(a:hover) {
  box-shadow: 0 -3px 0 hsl(26deg, 100%, 55%) inset;
  transition: all 0.3s;
}
html .container .nav-right, body .container .nav-right {
  display: flex;
  align-items: center;
  list-style: none;
}
html .container .nav-right .nav-cart, body .container .nav-right .nav-cart {
  display: flex;
  margin: 0 20px;
  justify-content: end;
  text-align: center;
  text-decoration: none;
}
html .container .nav-right .nav-cart img, body .container .nav-right .nav-cart img {
  width: 20px;
}
html .container .nav-right .nav-cart img:hover, body .container .nav-right .nav-cart img:hover {
  filter: brightness(0%);
  transition: all 0.8s;
}
html .container .nav-right .nav-cart span, body .container .nav-right .nav-cart span {
  opacity: 0;
  position: relative;
  background-color: hsl(26deg, 100%, 55%);
  font-size: 8px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  top: -4px;
  right: 12px;
  width: 16px;
  height: 10px;
  border-radius: 6px;
  transition: all 0.8s;
}
html .container .nav-right .nav-cart .active, body .container .nav-right .nav-cart .active {
  opacity: 1;
}
html .container .nav-right .nav-avatar, body .container .nav-right .nav-avatar {
  display: flex;
}
html .container .nav-right .nav-avatar img, body .container .nav-right .nav-avatar img {
  width: 40px;
  border-radius: 50%;
}
html .container .nav-right .nav-avatar img:hover, body .container .nav-right .nav-avatar img:hover {
  box-shadow: 0 0 0 2px hsl(26deg, 100%, 55%);
  transition: all 0.3s;
}
html .container .nav-cart-menu, body .container .nav-cart-menu {
  opacity: 0;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: 5px 12px 30px rgba(104, 112, 125, 0.2);
  top: 70px;
  right: 70px;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: hsl(0deg, 0%, 100%);
  padding: 0;
  z-index: 2;
  border-radius: 10px;
  transition: all 0.5s;
}
html .container .nav-cart-menu h3, body .container .nav-cart-menu h3 {
  font-size: 14px;
  font-weight: 600;
  padding-left: 20px;
}
html .container .nav-cart-menu .divider, body .container .nav-cart-menu .divider {
  border-bottom: 1px solid hsl(223deg, 64%, 98%);
}
html .container .nav-cart-menu .cart-empty, body .container .nav-cart-menu .cart-empty {
  display: none;
  height: 100%;
  align-items: center;
  justify-content: center;
}
html .container .nav-cart-menu .cart-empty p, body .container .nav-cart-menu .cart-empty p {
  font-size: 14px;
  font-weight: 600;
  color: hsl(220deg, 14%, 75%);
  margin-bottom: 10px;
  margin-top: 0;
}
html .container .nav-cart-menu .cart-fill, body .container .nav-cart-menu .cart-fill {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 15px 20px;
}
html .container .nav-cart-menu .cart-fill .cart-item-list, body .container .nav-cart-menu .cart-fill .cart-item-list {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html .container .nav-cart-menu .cart-fill .cart-item-list img, body .container .nav-cart-menu .cart-fill .cart-item-list img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
}
html .container .nav-cart-menu .cart-fill .cart-item-list .cart-content, body .container .nav-cart-menu .cart-fill .cart-item-list .cart-content {
  margin: 0;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;
}
html .container .nav-cart-menu .cart-fill .cart-item-list .cart-content h5, body .container .nav-cart-menu .cart-fill .cart-item-list .cart-content h5 {
  margin: 0;
  font-size: 14px;
  color: hsl(219deg, 9%, 45%);
  font-weight: 400;
}
html .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price, body .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price {
  display: flex;
  align-items: center;
}
html .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price p, body .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price p {
  margin: 0;
  font-size: 14px;
  color: hsl(219deg, 9%, 45%);
  margin-right: 5px;
}
html .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price .cart-total-price, body .container .nav-cart-menu .cart-fill .cart-item-list .cart-content .cart-price .cart-total-price {
  color: hsl(218deg, 12%, 13%);
  font-weight: 600;
}
html .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete, body .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete {
  background: none;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 13px;
  height: 15px;
}
html .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete img, body .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete img {
  width: 13px;
  height: 15px;
  margin: 0 auto;
  border-radius: 0;
}
html .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete:hover, body .container .nav-cart-menu .cart-fill .cart-item-list button#btn-delete:hover {
  filter: brightness(0%);
  transition: all 0.6s;
}
html .container .nav-cart-menu .cart-fill button, body .container .nav-cart-menu .cart-fill button {
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  border-radius: 5px;
  height: 40px;
  margin: 10px 0;
  color: hsl(0deg, 0%, 100%);
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}
html .container .nav-cart-menu .cart-fill button:hover, body .container .nav-cart-menu .cart-fill button:hover {
  background-color: hsl(26deg, 100%, 60%);
  box-shadow: 3px 10px 20px rgba(255, 125, 26, 0.3);
}
html .container .active, body .container .active {
  opacity: 1;
}
html .body-container, body .body-container {
  margin: auto;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  align-items: center;
}
html .body-container .img-container, body .body-container .img-container {
  margin: 50px 0;
  margin-right: 110px;
}
html .body-container .img-container .product-image, body .body-container .img-container .product-image {
  border-radius: 10px;
  margin-bottom: 20px;
}
html .body-container .img-container .thumbnails, body .body-container .img-container .thumbnails {
  display: flex;
  justify-content: space-between;
}
html .body-container .img-container .thumbnails .thumbnails-box, body .body-container .img-container .thumbnails .thumbnails-box {
  height: 80px;
  border-radius: 10px;
}
html .body-container .img-container .thumbnails .thumbnails-box img, body .body-container .img-container .thumbnails .thumbnails-box img {
  border-radius: 10px;
  cursor: pointer;
}
html .body-container .img-container .thumbnails .thumbnails-box img:hover, body .body-container .img-container .thumbnails .thumbnails-box img:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
html .body-container .img-container .thumbnails .active, body .body-container .img-container .thumbnails .active {
  outline: 2px solid hsl(26deg, 100%, 55%);
}
html .body-container .img-container .thumbnails .active img, body .body-container .img-container .thumbnails .active img {
  opacity: 0.5;
}
html .body-container .content-container, body .body-container .content-container {
  display: flex;
  flex-direction: column;
  font-family: "Kumbh Sans", sans-serif;
}
html .body-container .content-container .content-tag, body .body-container .content-container .content-tag {
  color: hsl(26deg, 100%, 55%);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
}
html .body-container .content-container .content-title, body .body-container .content-container .content-title {
  margin: 10px 0;
  font-size: 38px;
}
html .body-container .content-container .content-description, body .body-container .content-container .content-description {
  color: hsl(219deg, 9%, 45%);
  font-size: 14px;
  line-height: 1.8;
}
html .body-container .content-container .content-price, body .body-container .content-container .content-price {
  display: flex;
  align-items: center;
}
html .body-container .content-container .content-price .discount-price, body .body-container .content-container .content-price .discount-price {
  font-size: 24px;
  margin: 5px 0;
  font-weight: 700;
  margin-right: 10px;
}
html .body-container .content-container .content-price .discount-amount, body .body-container .content-container .content-price .discount-amount {
  height: 20px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 13px;
  color: hsl(26deg, 100%, 55%);
  background-color: hsl(25deg, 100%, 94%);
  border-radius: 3px;
}
html .body-container .content-container .normal-price, body .body-container .content-container .normal-price {
  color: hsl(220deg, 14%, 75%);
  font-weight: 600;
  font-size: 16px;
  text-decoration: line-through;
  margin: 0;
  margin-bottom: 30px;
}
html .body-container .content-container .quantity-selection, body .body-container .content-container .quantity-selection {
  display: flex;
}
html .body-container .content-container .quantity-selection .qty-minus, body .body-container .content-container .quantity-selection .qty-minus {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: none;
  background-color: hsl(223deg, 64%, 98%);
  color: hsl(26deg, 100%, 55%);
  font-size: 30px;
  font-weight: 600;
  height: 50px;
  width: 70px;
  cursor: pointer;
  border-radius: 10px 0 0 10px;
  line-height: 42px;
}
html .body-container .content-container .quantity-selection .qty-minus:hover, body .body-container .content-container .quantity-selection .qty-minus:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
html .body-container .content-container .quantity-selection .qty, body .body-container .content-container .quantity-selection .qty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 50px;
  font-weight: 600;
  background-color: hsl(223deg, 64%, 98%);
}
html .body-container .content-container .quantity-selection .qty-plus, body .body-container .content-container .quantity-selection .qty-plus {
  display: flex;
  align-items: baseline;
  justify-content: center;
  border: none;
  background-color: hsl(223deg, 64%, 98%);
  color: hsl(26deg, 100%, 55%);
  font-size: 30px;
  font-weight: 600;
  height: 50px;
  width: 70px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  line-height: 42px;
}
html .body-container .content-container .quantity-selection .qty-plus:hover, body .body-container .content-container .quantity-selection .qty-plus:hover {
  opacity: 0.5;
  transition: all 0.3s;
}
html .body-container .content-container .quantity-selection button, body .body-container .content-container .quantity-selection button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  width: 100%;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 3px 10px 20px rgba(255, 125, 26, 0.3);
}
html .body-container .content-container .quantity-selection button img, body .body-container .content-container .quantity-selection button img {
  filter: brightness(100);
  margin-right: 10px;
}
html .body-container .content-container .quantity-selection button:hover, body .body-container .content-container .quantity-selection button:hover {
  opacity: 0.5;
  transition: all 0.3s;
}/*# sourceMappingURL=main.css.map */